.card_1{
    width: 100%;
}
#liste_ours{
    width: 100%;
    background-color: $primary-color;
}
.teddy_1{
    width: 100%;
}
.descri{
    background-color: $secondary-color;
    margin-top: -7px;
    padding-top: 10px;
    overflow: hidden;
}
.description{
    margin-top: 0;
}
.bloc_ours{
    margin-bottom: 10px;
    background-color: $secondary-color;
}
.titre_p{
    position: relative;
    top: -80px;
    color: cornsilk;
    background-color: $secondary-color;
    opacity: 0.7;
    font-size: 25px;
    font-family: Kaushan Script;

}
