.card_1 {
  width: 100%;
}

#liste_ours {
  width: 100%;
  background-color: #a567be;
}

.teddy_1 {
  width: 100%;
}

.descri {
  background-color: #c0a4d2;
  margin-top: -7px;
  padding-top: 10px;
  overflow: hidden;
}

.description {
  margin-top: 0;
}

.bloc_ours {
  margin-bottom: 10px;
  background-color: #c0a4d2;
}

.titre_p {
  position: relative;
  top: -80px;
  color: cornsilk;
  background-color: #c0a4d2;
  opacity: 0.7;
  font-size: 25px;
  font-family: Kaushan Script;
}

@media screen and (min-width: 1000px) {
  body {
    background-color: blue;
  }
  .titre_p {
    margin-bottom: -50px;
  }
  .nb_objet {
    margin-left: 10px;
    margin-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    max-height: 1200px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 30px;
    padding-top: 0px;
  }
  .bloc_ours {
    width: 500px;
    border-radius: 40px 40px 0 0;
  }
  .foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 20px;
    padding-top: 10px;
    font-weight: 900;
  }
  .contact {
    margin-top: -20px;
  }
}

html {
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  font-family: roboto slab;
  font-size: 25px;
}

h3 {
  margin: 0;
}

a {
  margin: 0;
}

header {
  font-family: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

nav.ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3e9f1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  background-color: #f3e9f1;
}

.ours {
  width: 100%;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.teddy_1 {
  border-radius: 40px 40px 0 0;
}

.prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 10px;
}

.footer {
  font-family: Kaushan Script;
  font-size: 30px;
}

.persona {
  margin-left: 10px;
  margin-bottom: -27px;
}

.card_2 {
  margin-bottom: 15px;
}

.card_2:hover {
  height: 400px;
}

.card_2:hover .descri {
  position: relative;
  top: -15px;
}

.card_2:hover .persona {
  margin-bottom: 0px;
}
/*# sourceMappingURL=main.css.map */