@import 'variables.scss';
@import '_bloc_jouet.scss';
@import '_responsives.scss';

   html {
    overflow-x: hidden;
}

body {
    margin: 0 auto;
    font-family: roboto slab;
    font-size: 25px;

}
h3{
    margin: 0;
}
a{
    margin: 0;
}
header
{
 font-family: 15px;
 justify-content: space-between;
 margin: 10px 10px;
 display: flex;
}
a{
    text-decoration: none;
    color: black;
}
nav.ul{
    display: flex;
    text-decoration: none;
    flex-direction: row;
}

footer{
    display: flex;
    background-color: $back-color;
    flex-direction: column;
}
body{
    background-color: $back-color;
}
.ours{
    width: 100%;
   
}
.description{
    display: flex;
    margin-left: 10px;
}
.teddy_1{
    border-radius: 40px 40px 0 0;
}
.prix{
    display: flex;
    justify-content: end;
    margin-right: 10px;
}
.footer{
    font-family: Kaushan Script;
    font-size: 30px;
}
.persona{
    margin-left: 10px;
    margin-bottom: -27px;
}
.card_2{
    margin-bottom: 15px;
}
.card_2:hover{
    height:400px ;
.descri{
    position: relative;
    top: -15px;
    
}
.persona{
    
    margin-bottom: 0px;
}
}
